@import 'colors';

%background {
  .background {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $dark_light;
    opacity: 0.4;
    z-index: -1;
    overflow: hidden;

    .darkness {
      content: "";
      position: absolute;
      right: 0;
      background: black;
      width: 10px;
      height: 100%;
    }
  }
}
