.content{
  flex: 1 0 80%;
}

.playground {
  background-color: $main_lighter;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dayPlanner, .targetSelector, .actionSelector {
  background-color: $main_lighter;
}
