.content{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.playground {
  background-color: $main_lighter;
  flex: auto;
}

.dayPlanner, .results, .tutorial {
  background-color: $main_lighter;
}

.dayPlanner, .results, .tutorial, .slotSelector, .targetSelector, .actionSelector {
  display: none;
  &.active {
    display: block;
  }
}

.sidebar {
	padding: 0;

  .dayPlannerToggler, .resultsToggler, .tutorialToggler {
  	height: 20%;
    min-height: 60px;
  	display: flex;
  	align-items: center;
  	cursor: pointer;
  	border: 2px outset $main_lighter;
  	&.active {
  		border: 2px inset $main_lighter;
      background-color: $main_lighter;
  	}
  	.emojione {
  		margin: auto;
  	}
  }
}
