.killed {
  background-image: asset-url('endings/killed.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  height: 150px;
  background-position: center;
}

.dead {
  background-image: asset-url('endings/dead.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  height: 150px;
  background-position: center;
}

.escaped {
  background-image: asset-url('endings/escaped.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  height: 150px;
  background-position: center;
}

.trapped {
  background-image: asset-url('endings/trapped.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  height: 150px;
  background-position: center;
}

.radiated {
  background-image: asset-url('endings/radiated.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  height: 150px;
  background-position: center;
}

.crashed {
  background-image: asset-url('endings/crashed.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  height: 150px;
  background-position: center;
}

.exploded {
  background-image: asset-url('endings/exploded.jpg');
  background-repeat: no-repeat;
  background-size:contain;
  height: 150px;
  background-position: center;
}