@import 'colors';

.content > .header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: $main_lighter;

  .personal {
    height: 50%;
    align-items: center;
  }

  .team {
    height: 50%;
    background-color: $main_lighter;
    border-top-left-radius: 15px;
    align-items: center;
  }
}
