@import 'colors';

.content > .header {
  background-color: $main_lighter;
  border: 2px outset $main_lighter;

  .team {
    height: 50%;
    align-items: center;
  }

  .personal {
    height: 50%;
    background-color: $main_lighter;
    border-top-left-radius: 15px;
    align-items: center;
  }
}
