.room {
  display: block;
  padding: 0;
  background-size:contain;
  background-repeat: no-repeat;
  height: 150px;
  background-position: center;
}

.ia {
  position: absolute;
  background-image: asset-url('map/ia.png');
  background-repeat: no-repeat;
  background-size:contain;
  height: 50px;
  width: 100px;
  top: 10%;
  left: 75%;
  z-index: 1;
}

.uuid1{
  background-image: asset-url('map/bridge.jpg');
}

.uuid2 {
  background-image: asset-url('map/cabins.jpg');
}

.uuid3 {
  background-image: asset-url('map/weapons_bay.jpg');
}

.uuid4 {
  background-image: asset-url('map/enfermery.jpg');
}

.uuid5 {
  background-image: asset-url('map/engine.jpg');
}

.uuid6 {
  background-image: asset-url('map/warehouse.jpg');
}

.uuid7 {
  background-image: asset-url('map/life_support.jpg');
}

.uuid8 {
  background-image: asset-url('map/escape.jpg');
}

.locked {
  background-image: asset-url('map/locked.jpg');
}
