.room {
  display: block;
  padding: 0;
  background-size:contain;
  background-repeat: no-repeat;
  height: 200px;
  background-position: center;
}

.ia {
  position: absolute;
  background-image: asset-url('map/ia.png');
  background-repeat: no-repeat;
  background-size:contain;
  height: 50px;
  width: 100px;
  top: 20%;
  left: 75%;
  z-index: 1;
}

.img-responsive {
  display: inline-block;
  width: 100%;
  height: 200px;
}
