@import 'colors';
@import 'buttons';
@import 'flex';
@import 'container';
@import 'background';
@import 'modal';
@import 'animations';

@import 'header';
@import 'results';
@import 'start';
@import 'statusbar';
@import 'content';

@import 'welcome';
@import 'time_slot';
@import 'navbar';
@import 'wait';
@import 'recruit';
@import 'map';
@import 'endings';
@import 'tutorial';

html, body, .container {
  min-height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  background-color: $dark_light;
  font-family: 'Cabin Sketch', sans-serif;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  color: $main;
}

h1 {
  text-align: left;
  margin: 0;
}

h3 {
  text-align: right;
  margin-top: 0;
}

a {
  text-shadow: 0px 0px 1rem white;
  color: lime;
}

.end-game {
  text-align: center;
  color: #8cfe80;
  text-shadow: 0 0 2px maroon, 0 0 1rem black, 0 0 3rem white;
}

._label:after, label:after {
  content: ' ';
}

label {
  text-align: right;
}

span {
  vertical-align: middle;
}

.emojione {
  filter: drop-shadow(0 0 2px black);
}

.game_header {
  justify-content: space-between;
  align-items: center;
  .options {
    cursor: pointer;
  }
}

.game_footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 570px;
}

.game_container {
  display: flex;
  justify-content: center;
}

.game_name, h1{
  display: inline-block;
}

.unpadded {
  padding: 0
}

.player-log{
  .day-label {
    cursor: pointer;
    &:hover {
      color: grey;
    }
  }

  .inventory {
    background-color: $contrast_lighter;
    text-align: right;
  }
}

.target-log {
  max-height: 250px;
  overflow-y:scroll;
}
